__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
.idea/
.vscode/
.pytest_cache/
.ipynb_checkpoints/
dist/
build/
*.egg-info/
.coverage
htmlcov/
*.orig
*.env
.DS_Store
data/predictions/predictions.csv
data/annotations/gold.csv
